@import "bourbon/bourbon";
@import "neat/neat";


/* Variables */

$article-background-color: #fff;
$site-background-color: #fcfcfc;
$font-color: #222;
$header-color: #2b55b0;
$box-shadow-color: #cbc6c5;
$box-shadow-radius: 7px;
$font: Raleway, Arial, serif;


/* Mixins */

@mixin card {
	box-shadow: 0 2px 2px $box-shadow-color;
	border-radius: $box-shadow-radius;
	margin-bottom: 1em;
	background-color: $article-background-color;

	&:hover {
		box-shadow: 0 8px 8px $box-shadow-color;
		border-radius: $box-shadow-radius;
	}
}

/* Styles */

html {
	font-family: $font;
	color: $font-color;
	background-color: $site-background-color;
	font-size: 1em;
	line-height: 1.4;
}

.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

body {
	@include outer-container;
	margin-top: 0;
	max-width: none;
}

header {
	@include span-columns(12 of 12);
	padding: 1em 3em;
	margin-bottom: 1.5em;
	background-color: $header-color;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 7px;
}

footer {
	@include span-columns(12 of 12);
}

ul {
	padding: 0;
}

figure {
	display: inline-block;
	margin: 0 12px 12px 12px;
	float: left;
}

h1 {
	font-weight: 900;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-weight: 700;
	font-size: 2em;
	margin-top: 0;
}

h3 {
	font-weight: 300;
	font-style: italic;
	margin: 0;
}

p {
	font-weight: 400;
	font-size: 1 em;
}

div {
	@include clearfix;
}

.media_bar,
.wikipedia_map_bar,
.twitter_bar {
	@include span-columns(4 of 12);

}

.twitter_bar {
	@include omega();
}

.image_carousel,
.video_carousel,
.wiki,
.geography {
	@include span-columns(12);
	@include card;
}

.video_carousel {
	overflow: hidden;
}

.loading {
	display: block;
	margin: 1em auto;
}

.wiki_img {
	height: 20px;
	width: 80px;
	padding: 0;
	box-shadow: none;
}

.wiki p {
	margin-bottom: 5px;
	box-shadow: none;
}

.twitter li {
	@include span-columns(12 of 12);
}

.geography {
	@include card;
}

.twitter {
	margin-top: 0;
}

.wiki {
	@include card;
	border: 1px solid #ccc;
	padding: 1em;
}

.twitter li {
	@include card;
	border: 1px solid #ccc;
	overflow: hidden;
}

.twitter-tweet {
	margin: 0 !important;
}

blockquote.twitter-tweet {
	background-color: $article-background-color;
	padding: 1em;
}

iframe {
	width: 100%;
	display: block;
}
/* Media Queries */

$tablet: new-breakpoint(max-width 1220px);

@include media($tablet) {
	.main_bar {
		@include span-columns(12 of 12);
	}

	.media_bar,
	.wikipedia_map_bar {
		@include span-columns(6 of 12);
	}

	.wikipedia_map_bar {
		@include omega();
	}

	.twitter li {
		@include span-columns(6 of 12);
		margin-bottom: 10px;
	}

	.twitter li:nth-child(2n){
		@include omega();
	}
}

$mobile: new-breakpoint(max-width 600px);

@include media($mobile) {
	.main_bar,
	.media_bar,
	.wikipedia_map_bar {
		@include span-columns(12 of 12);
	}
}


