head
	meta(charset="utf-8")
	link(href='https://fonts.googleapis.com/css?family=Raleway:400,300italic,700,900' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
	script(id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js")
	title MNLA
