ul.twitter
  li
    .tweet
      p.tweet_content I am a tweet. Here is some dumb stuff someone said. I think this is around 140 characters. Well, looks like I have some more space to write.
      a.tweet_link(href="#") H.R. Puffinstuff
  li
    .tweet
      p.tweet_content I am a tweet. Here is some dumb stuff someone said. I think this is around 140 characters. Well, looks like I have some more space to write.
      a.tweet_link(href="#") H.R. Puffinstuff
  li
    .tweet
      p.tweet_content I am a tweet. Here is some dumb stuff someone said. I think this is around 140 characters. Well, looks like I have some more space to write.
      a.tweet_link(href="#") H.R. Puffinstuff
  li
    .tweet
      p.tweet_content I am a tweet. Here is some dumb stuff someone said. I think this is around 140 characters. Well, looks like I have some more space to write.
      a.tweet_link(href="#") H.R. Puffinstuff
