ul.twitter
  li
    img(src="images/tweet_placeholder.png" alt="Tweet1")
  li
    img(src="images/tweet_placeholder.png" alt="Tweet2")
  li
    img(src="images/tweet_placeholder.png" alt="Tweet3")
  li
    img(src="images/tweet_placeholder.png" alt="Tweet4")
