#wikipedia
  h2 Pfizer
  p Pfizer Inc. is an American global pharmaceutical corporation headquarted in New York City, with its research headquarters in Groton, Connecticut. It is among the world's largest pharmaceutical companies.
  img.wiki_img(src="images/Wikipedia-word.png" alt="Wikipedia")
