html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Variables */
/* Mixins */
/* Styles */
html {
  font-family: Raleway, Arial, serif;
  color: #222;
  background-color: #fefefe;
  font-size: 1em;
  line-height: 1.4; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: none; }
  body::after {
    clear: both;
    content: "";
    display: table; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1em 3em;
  margin-bottom: 1.5em;
  background-color: #2b55b0; }
  header:last-child {
    margin-right: 0; }

img {
  max-width: 100%;
  display: block;
  border-radius: 7px; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  footer:last-child {
    margin-right: 0; }

ul {
  padding: 0; }

figure {
  display: inline-block;
  margin: 0 12px 12px 12px;
  float: left; }

h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 0; }

h2 {
  font-weight: 700;
  font-size: 2em;
  margin-top: 0; }

h3 {
  font-weight: 300;
  font-style: italic;
  margin: 0; }

p {
  font-weight: 400;
  font-size: 1 em; }

div::after {
  clear: both;
  content: "";
  display: table; }

a {
  color: #2b55b0;
  text-decoration: none;
  font-weight: 700; }

.media_bar,
.wikipedia_map_bar,
.twitter_bar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .media_bar:last-child,
  .wikipedia_map_bar:last-child,
  .twitter_bar:last-child {
    margin-right: 0; }

.twitter_bar {
  margin-right: 0; }

.image_carousel,
.video_carousel,
.wiki,
.geography {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  box-shadow: 0 2px 2px #cbc6c5;
  border-radius: 7px;
  margin-bottom: 1em;
  background-color: #fff; }
  .image_carousel:last-child,
  .video_carousel:last-child,
  .wiki:last-child,
  .geography:last-child {
    margin-right: 0; }
  .image_carousel:hover,
  .video_carousel:hover,
  .wiki:hover,
  .geography:hover {
    box-shadow: 0 8px 8px #cbc6c5;
    border-radius: 7px; }

.video_carousel {
  overflow: hidden; }

.loading {
  display: block;
  margin: 1em auto; }

.wiki_img {
  height: 20px;
  width: 80px;
  padding: 0;
  box-shadow: none; }

.wiki p {
  position: relative;
  height: 14em;
  overflow: hidden; }

.wiki p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.4em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%); }

.wiki_ref {
  display: block;
  text-align: right;
  opacity: 0.7;
  color: #222; }

.wiki_ref img {
  height: 1.4em;
  display: inline;
  vertical-align: bottom; }

.twitter li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .twitter li:last-child {
    margin-right: 0; }

.geography {
  box-shadow: 0 2px 2px #cbc6c5;
  border-radius: 7px;
  margin-bottom: 1em;
  background-color: #fff; }
  .geography:hover {
    box-shadow: 0 8px 8px #cbc6c5;
    border-radius: 7px; }

.twitter {
  margin-top: 0; }

.wiki {
  box-shadow: 0 2px 2px #cbc6c5;
  border-radius: 7px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em; }
  .wiki:hover {
    box-shadow: 0 8px 8px #cbc6c5;
    border-radius: 7px; }

.twitter li {
  box-shadow: 0 2px 2px #cbc6c5;
  border-radius: 7px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden; }
  .twitter li:hover {
    box-shadow: 0 8px 8px #cbc6c5;
    border-radius: 7px; }

.twitter-tweet {
  margin: 0 !important; }

blockquote.twitter-tweet {
  background-color: #fff;
  padding: 1em; }

iframe {
  width: 100%;
  display: block;
  border: 0; }

/* Media Queries */
@media screen and (max-width: 1220px) {
  .main_bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .main_bar:last-child {
      margin-right: 0; }

  .media_bar,
  .wikipedia_map_bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .media_bar:last-child,
    .wikipedia_map_bar:last-child {
      margin-right: 0; }

  .wikipedia_map_bar {
    margin-right: 0; }

  .twitter li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 10px; }
    .twitter li:last-child {
      margin-right: 0; }

  .twitter li:nth-child(2n) {
    margin-right: 0; } }
@media screen and (max-width: 600px) {
  .main_bar,
  .media_bar,
  .wikipedia_map_bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .main_bar:last-child,
    .media_bar:last-child,
    .wikipedia_map_bar:last-child {
      margin-right: 0; } }

/*# sourceMappingURL=stylesheet.css.map */
/********* Extras *************/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
