extends ./layout
block content
  header
    img(id="logo" src="images/logo.png" alt="logo")
  .wrapper
    .main_bar
      .news
        include ./partials/_news
    .media_bar
      .image_carousel.cell
        include ./partials/_image
      .video_carousel
        include ./partials/_video
    .wikipedia_map_bar
      .wiki
        include ./partials/_wiki
      .geography
        img(src="images/map-placeholder.png" alt="Map")
    footer
      include ./partials/_twitter
