extends ./layout
block content
  header
    img(id="logo" src="images/Logo_2.png" alt="logo")
    div(class="navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          a(href="/" class="navbar-brand") MetaNews
  main
    .video
      include ./partials/_video
    .wiki
      include ./partials/_wiki
    .map
      img(src="images/map-placeholder.png" alt="Map")
    .twitter
      include ./partials/_twitter
