extends ./layout
block content
  header
    img(id="logo" src="images/Logo_2.png" alt="logo")
  main
    .video
      include ./partials/_video
    .wiki
      include ./partials/_wiki
    .map
      img(src="images/map-placeholder.png" alt="Map")
    .twitter
      include ./partials/_twitter
